env/
data_in/
.ipynb_checkpoints/
.vscode/
__pycache__
models/*
data_out/*
demo/*
notebooks/lightning_logs/version_0/hparams.yaml
notebooks/lightning_logs/version_1/hparams.yaml
notebooks/lightning_logs/version_10/hparams.yaml
notebooks/lightning_logs/version_11/hparams.yaml
notebooks/lightning_logs/version_12/hparams.yaml
notebooks/lightning_logs/version_13/hparams.yaml
notebooks/lightning_logs/version_2/hparams.yaml
notebooks/lightning_logs/version_3/hparams.yaml
notebooks/lightning_logs/version_4/hparams.yaml
notebooks/lightning_logs/version_5/hparams.yaml
notebooks/lightning_logs/version_6/hparams.yaml
notebooks/lightning_logs/version_7/hparams.yaml
notebooks/lightning_logs/version_8/hparams.yaml
notebooks/lightning_logs/version_9/hparams.yaml
